#sayfa
{	
	/* bütün sayfanın arka plan rengi tanımlanmıştır. */
	background-color: #efeeea;   
}

#iletisim
{
	/* iletişim bölümünün arka plan rengi tanımlanmıştır. */
	background-color: #f7f3b7;
	
	/* border ayarları tanımlanmıştır. */
	border-style: outset;
	border-width: thick;
	border-color: #c9c7c0; 
	border-radius: 15px;
	
	width: 76%;
	height: auto;
	min-height: 300px;
	
	/*padding ayarları tanımlanmıştır. */
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%; 
	padding-top: 2%;
	
	/*margin ayarları tanımlanmıştır. */
	margin-left: 12%;
	margin-top: 4%;
	margin-bottom: 4%;
}

h2 , h3
{
	/*geliştiricilerin isimlerine ait css işlemleri tanımlanmıştır.*/
	color: #b22222;
	
	position:relative;
	text-align:center;
}

p
{	/* paragrafların tamamı siyah renkte ve 15 piksel büyüklüğünde yazılara sahiptir.*/
	color:black;
	font-size:15px;
	/* paragrafların ilk satırlarında 12 piksel büyüklüğünde satır başı bulunur.*/
	text-indent:12px;
	/* kelimelerin arasına 5 piksel boşluk verilmiştir.*/
	word-spacing:5px;
	/* metinler ortalanmıştır.*/
	text-align:justify;
}

/* selahattin paragrafının yapısı ayarlanır.*/
#selahattin_paragraf
{
	text-align:center;
}

/* serbay paragrafının yapısı ayarlanır.*/
#serbay_paragraf
{
	text-align:center;
}

/* ugur paragrafının yapısı ayarlanır.*/
#ugur_paragraf
{
	text-align:center;
}


#foto
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*************************************************************************/

#form_bolumu
{
	background-color: #f7f3b7;
	
	/* border ayarları tanımlanmıştır. */
	border-style: outset;
	border-width: thick;
	border-color: #c9c7c0; 
	border-radius: 15px;
	
	width: 76%;
	height: auto;
	min-height: 300px;
	
	/*padding ayarları tanımlanmıştır. */
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%; 
	padding-top: 2%;
	
	/*margin ayarları tanımlanmıştır. */
	margin-left: 12%;
	margin-top: 4%;
	margin-bottom: 4%;
}

#form_ekrani
{
	display: block;
	margin-left: 12%;
	margin-right: auto;
	margin-top: 1%;
}

/* aşağıda yer alan bölümdeki kodlar w3schools'tan alınmıştır. */
/*************************************************************************/

input[type=text], textarea 
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #b22222;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) 
{
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.ileti
{
	color: #b22222;
}

/*************************************************************************/

.site-footer {
    background-color: #1261a0;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #FFFAF0;
}

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

        .site-footer hr.small {
            margin: 20px 0
        }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a {
        color: #737373;
    }

        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }

.footer-links {
    padding-left: 0;
    list-style: none
}

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #737373
    }

        .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
            color: #3366cc;
            text-decoration: none;
        }

    .footer-links.inline li {
        display: inline-block
    }

.site-footer .social-icons {
    text-align: right
}

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }

        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }

    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

        .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }

    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/*************************************************************************/
